@model List<PacchettoViaggio>
<link href="~/css/site.css" rel="stylesheet"/>
<!--tabella per amministratori webapp-->

    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!--nomi delle varie colonne-->
                <th scope="col">id</th>
                        <th scope="col">Immagine</th>
                        <th scope="col">Destinazione</th>
                        <th scope="col">Numero Ospiti</th>
                        <th scope="col">Stelle Hotel</th>
                        <th scope="col">Tipologia Pensione</th>
                        <th scope="col">Prezzo</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (PacchettoViaggio PacchettiDellaLista in Model)
                        {
                            <tr>
                                <th scope="row">@PacchettiDellaLista.Id</th>
                                <td><img src="@PacchettiDellaLista.Immagine" alt="@PacchettiDellaLista.Destinazione" class="img-fluid h-25"/></td>
                                <td>@PacchettiDellaLista.Destinazione</td>
                                <td>@PacchettiDellaLista.NumerOspiti</td>
                                <td>@PacchettiDellaLista.StelleHotel</td>
                                <td>@PacchettiDellaLista.TipoPensione</td>
                                <td>@PacchettiDellaLista.Prezzo</td>
                            </tr>
                        }
                    
                </tbody>
                </table>
        </div>
    </div>
